/* Asi comenta en Css*/
#flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightblue;
    width: 500px;
    height: 500px;
}


.element{
    border: solid thin black;
    background-color: lightyellow;
    width: 100px;
}